/**
* @prop --ui-menu-bg-color: default background color
* @prop --ui-menu-bg-color-secondary: background color for variant `secondary`
* @prop --ui-menu-text-color: default text and icon color
*/
ui-menu {
  display: block;
  position: relative;
  background-color: var(--ui-menu-bg-color);
  color: var(--ui-menu-text-color);
  font-family: var(--ui-font-family);

  .ui-menu__inner {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
  }
}

.ui-menu {
  &--secondary {
    background-color: var(--ui-menu-bg-color-secondary);
  }
}

.ui-menu {
  &--vertical {
    .ui-menu__inner {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-start;
    }

    ui-menu-item {
      justify-content: flex-start;
    }
  }
}
