ui-icon {
  display: inline-flex;
  user-select: none;
  vertical-align: middle;
  width: var(--ui-icon-size, 24px);
  height: var(--ui-icon-size, 24px);
  flex: 0 0 auto;

  svg {
    width: 100%;
    height: auto;
    fill: currentColor;
    max-height: 100%;
  }

  &.ui-icon--size-s {
    width: var(--ui-icon-size-sm);
    height: var(--ui-icon-size-sm);
  }

  &.ui-icon--size-m {
    width: var(--ui-icon-size-md);
    height: var(--ui-icon-size-md);
  }

  &.ui-icon--size-l {
    width: var(--ui-icon-size-lg);
    height: var(--ui-icon-size-lg);
  }

  &.ui-icon--flip-rtl svg {
    [dir="rtl"] & {
      transform: scale3d(-1, 1, 1);
    }
  }
}
