:root {
  // Text
  --my-ui-font-family: Arial, Helvetica, sans-serif;

  // Button
  --my-ui-button-bg-color: transparent;
  --my-ui-button-border-color: #56abff;
  --my-ui-button-border-width: 2px;
  --my-ui-button-border-radius: 4px;
  --my-ui-button-font-size: 1rem;
  --my-ui-button-font-weight: normal;
  --my-ui-button-text-color: #56abff;
  --my-ui-button-padding-vertical: 1em;
  --my-ui-button-padding-horizontal: 2em;
  --my-ui-button-transition: background-color 0.2s ease, border-color 0.2s ease,
    color 0.2s ease;
  --my-ui-button-bg-color-hover: #1e90ff;
  --my-ui-button-border-color-hover: #1e90ff;
  --my-ui-button-text-color-hover: #ffffff;
  --my-ui-button-bg-color-active: #1e90ff;
  --my-ui-button-border-color-active: #1e90ff;
  --my-ui-button-border-color-focus: #1e90ff;

  --my-ui-button-disabled-opacity: 1;
  --my-ui-button-disabled-color: #c2c2c2;
}
