:root {
  // Text
  --ui-font-family: Arial, Helvetica, sans-serif;
  --ui-font-size-normal: 1rem;
  --ui-font-weight-normal: normal;

  // Colors
  --ui-color-text: #000;
  --ui-color-bg: #fff;
  --ui-color-bg-hover: #f7f7f7;
  --ui-color-bg-light: #f7f7f7;
  --ui-color-border: #d8d8d8;
  --ui-color-primary: #1e90ff;
  --ui-color-primary-light: #56abff;
  --ui-color-disabled: #c2c2c2;
  --ui-color-focus: var(--ui-color-primary);

  // Dimensions
  --ui-control-border-size: 1px;
  --ui-control-border-radius: 0;
  --ui-control-padding-vertical: 1em;
  --ui-control-padding-horizontal: 1em;
  --ui-z-index-flyout: 10;

  // Icon
  --ui-icon-size: 24px;
  --ui-icon-size-sm: 16px;
  --ui-icon-size-md: 24px;
  --ui-icon-size-lg: 48px;

  // Button
  --ui-button-padding-horizontal: var(--ui-control-padding-horizontal);
  --ui-button-padding-vertical: var(--ui-control-padding-vertical);
  --ui-button-border-width: var(--ui-control-border-size);
  --ui-button-border-radius: var(--ui-control-border-radius);

  --ui-button-bg-color: transparent;
  --ui-button-bg-color-hover: var(--ui-color-primary);
  --ui-button-bg-color-active: var(--ui-color-primary);
  --ui-button-border-color: var(--ui-color-primary-light);
  --ui-button-border-color-hover: var(--ui-color-primary);
  --ui-button-border-color-active: var(--ui-color-primary);
  --ui-button-outline-color: var(--ui-color-focus);
  --ui-button-font-size: var(--ui-font-size-normal);
  --ui-button-font-weight: var(--ui-font-weight-normal);
  --ui-button-text-color: var(--ui-color-primary-light);
  --ui-button-text-color-hover: #ffffff;
  --ui-button-transition: background-color 0.2s ease, border-color 0.2s ease,
    color 0.2s ease;

  --ui-button-disabled-opacity: 1;
  --ui-button-disabled-color: var(--ui-color-disabled);

  // Menu
  --ui-menu-bg-color: var(--ui-color-bg);
  --ui-menu-bg-color-hover: var(--ui-color-bg-hover);
  --ui-menu-bg-color-secondary: var(--ui-color-bg-light);
  --ui-menu-color: var(--ui-color-text);
  --ui-menu-color-hover: var(--ui-color-primary);
  --ui-menu-color-active: var(--ui-color-primary);
  --ui-menu-color-focus: var(--ui-color-focus);
  --ui-menu-color-selected: var(--ui-color-primary);
  --ui-menu-panel-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  --ui-menu-item-padding-vertical: var(--ui-control-padding-vertical);
  --ui-menu-item-padding-horizontal: var(--ui-control-padding-horizontal);
  --ui-menu-item-border-width: var(--ui-control-border-size);
  --ui-menu-item-border-radius: var(--ui-control-border-radius);
  --ui-menu-item-border-color: var(--ui-color-border);
  --ui-menu-item-transition: background-color 0.2s ease;

  --ui-menu-indicator-color: var(--ui-menu-color-active);
  --ui-menu-indicator-size: 4px;
  --ui-menu-indicator-transition: 0.15s ease-out;
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

article {
  display: block;
  padding: 20px;
  margin-bottom: 3em;
}

section {
  margin-bottom: 3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0;
}
